*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 body {
     font-family: Arial, sans-serif;
     background-color: #f8f9fa;
     top: 50;
     margin: 0;
     padding: 0;
     min-height: 100vh;
     background: url(asset/backg.jpg);
 }

 .container {
     max-width: 800px;
     margin: 110px auto 30px auto;;
 }

 h2 {
     text-align: center;
     color: #ffffff;
 }



 table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
     background-color: #ffffff;
 }

 th,
 td {
     border: 1px solid #dee2e6;
     padding: 8px;
     text-align: left;
 }

 th {
     background-color: #007bff;
     color: #ffffff;
 }

 .completed {
     background-color: #c0e6c9;
 }

 .action-buttons {
     display: flex;
     gap: 5px;
 }

 .btn {
     padding: 8px 12px;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
 }

 .btn-primary {
     background-color: #007bff;
     color: #ffffff;
     border: none;
 }

 .btn-danger {
     background-color: #dc3545;
     color: #ffffff;
     border: none;
 }

 .btn-success {
     background-color: #28a745;
     color: #ffffff;
     border: none;
 }

 .header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 100px;
     background: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;

 }
 .todo {
     font-size: 32px;
     color: #ffffff;
     text-decoration: none;
     font-weight: 700;
   
 }

 .navbar a { 
     position: relative;
     font-size: 18px;
     color: #ffffff;
     font-weight: 500;
     text-decoration: none;
     margin-left: 35px;
   
 }
 .navbar a::before{
     content: '';
     position: absolute;
     top: 100%;
     left: 0;
     width: 0;
     height: 2px;
     background-color: #ffffff;
     transition: .3s;
 }
 .navbar a:hover::before{
     width: 100%;

 }
