
body{
     align-items: center;
     background-color: rgb(110, 105, 105);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.kotak{
     box-sizing: border-box;
     margin: 20px auto;
     width: 500px;
     border: 30px;
     background-color: black;
     border-radius: 10px;
     background: whitesmoke;
     padding: 20px;
}

label,
input{
     display: block;
}

form input{
     background-color: rgb(13, 181, 181);
     border: 0px;
     padding: 14px;
     border-radius: 5px;
}

button{
     background-color: gray;
     color: aqua;
     padding: 10px;
     border: 0px;
     border-radius: 5px;
     cursor: pointer;
}
